[submodule "TheEngine/vendor/spdlog"]
	path = TheEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TheEngine/vendor/GLFW"]
	path = TheEngine/vendor/GLFW
	url = https://github.com/Fl023/glfw
[submodule "TheEngine/vendor/glm"]
	path = TheEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "TheEngine/vendor/imgui"]
	path = TheEngine/vendor/imgui
	url = https://github.com/Fl023/imgui
	branch = docking
